<script setup>
const props = defineProps({
    templatePlaceholder: String,
    templateLabel: String,
});
</script>
<template>
     <div class="templateItem">
        <div class="templateIcon">
        <div class="templateImg" :style="templatePlaceholder === '' ? 'display: none;': ''">{{ templatePlaceholder }}</div>
        </div>
        <span class="templateLabel">{{ templateLabel }}</span>
    </div>
</template>
<style scoped>
.templateItem {
  width: 114px;
  height: 190px;
  padding: 10px;
  margin: 4px;
}
/* 156 */

.templateIcon {
  width: 124px;
  height: 164px;
  border-radius: 4px;
  border: 0.3px solid rgba(47, 48, 47, 0.205);
  background: rgb(250, 250, 250);
  display: flex;
  justify-content: center;
  align-items: center;
}

.templateIcon:hover {
  border: 0.3px solid rgba(30, 180, 30, 0.9);
  cursor: pointer;
}

.templateImg {
  width: 50px;
  height: 50px;
  background-color: rgba(30, 180, 30, 0.9);
  border-radius: 3px;
  text-align: center;
  line-height: 50px;
  font-size: 3rem;
  font-family: Arial;
  color: #fff;
}

.templateLabel {
  display: block;
  font-weight: 550;
  font-size: 14px;
  overflow: hidden;
  height: 20px;
  padding-left: 4px;
  text-overflow: ellipsis;
  margin-top: 6px;
  margin-bottom: 0;
  white-space: nowrap;
}

.templateItem > span {
  padding-left: 4px;
  font-size: 14px;
}
</style>