<script lang="ts" setup>
const props = defineProps<{
  fName: string;
}>();
const fNameFirstLetter = ref("");
const docsCardsMouseOver = ref(false)

function mouseOverDocsCards(){
  docsCardsMouseOver.value = true;
}

function mouseLeaveDocsCards(){
  docsCardsMouseOver.value = false;
}

onMounted(() => {
  if (props.fName !== "") {
    fNameFirstLetter.value = props.fName[0];
  }
});
</script>

<template>
  <div class="docsCards" @mouseover="mouseOverDocsCards()" @mouseleave="mouseLeaveDocsCards()">
    <div class="docsCardsImg">
      <div class="cardsImg">{{ fNameFirstLetter }}</div>
    </div>
    <div class="dCLapse">
      <div class="left">
        <span class="fileName">{{ props.fName }}</span>
        <span class="timelapse">Data</span>
      </div>
      <div class="right">
        <button v-if="docsCardsMouseOver">
          <img width="32" height="32" src="../../../assets/option_icon.svg" alt="">
        </button>
      </div>
    </div>
  </div>
</template>

<style scoped>
.docsCards {
  min-height: 227px;
  height: 332px;
  border: 1px solid rgba(49, 49, 49, 0.205);
  border-radius: 3px;
}

.docsCards:hover {
  border: 0.3px solid rgba(30, 180, 30, 0.9);
  cursor: pointer;
}

.docsCards > .docsCardsImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 264px;
  border-bottom: 1px solid rgba(49, 49, 49, 0.205);
}

.docsCards > .docsCardsImg > .cardsImg {
  width: 50px;
  height: 50px;
  background-color: rgba(30, 180, 30, 0.9);
  border-radius: 3px;
  text-align: center;
  line-height: 50px;
  font-size: 34px;
  font-family: Arial;
  color: #fff;
}

.docsCards > .dCLapse {
  display: grid;
  grid-template-columns: 88% 12%;
  width: 96%;
  height: 52px;
  /* background-color: aqua; */
  margin: 3% 2%;
}

.docsCards > .dCLapse > .left > span {
  display: block;
  width: 110px;
  font-weight: 550;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.8);
  padding: 5px;
  margin-left: 4%;
}

.docsCards > .dCLapse > .left > .timelapse {
  color: rgba(140, 140, 140, 1);
}

.docsCards > .dCLapse > .right > button {
  width: 33px;
  height: 33px;
  border: none;
  outline: none;
  border-radius: 80%;
  background-color: transparent;
  margin: 40% 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 21%;
  right: 40%;
  cursor: pointer;
}

.docsCards > .dCLapse > .right > button:hover {
  background: rgba(48, 47, 47, 0.151);
}

@media (max-height: 800px){
  .docsCards > .dCLapse{
    height: 55px;
  }
  .docsCards > .dCLapse > .left > .fileName{
    margin-top: 0.1vh;
  }
}

@media (max-height: 681px){
  .docsCards > .dCLapse{
    height: 55px;
  }
}
</style>
