<script setup>
const { img, width, height, theme, inputLabel, format, alignment } = defineProps({
    img: '',
    width: "",
    height: "",
    theme: "",
    inputLabel: "",
    format: "",
    alignment: ""
})
</script>

<template>
    <button v-if="theme == 'property'" class="property_button" :style="{marginLeft: alignment == 'ml-low'? '9px' : '3px'}">
        <img :src="img" :width="width" :height="height">
    </button>

    <button v-if="theme == 'property_img'" class="property" style="padding: 16px 0;">
        <span style="color: rgb(250, 250, 250); font-family: Arial; font-weight: bold; font-size: 0.96rem; margin-left: 5px; margin-right: 6px;">{{ inputLabel }}</span>
        <span style="display: block; background-color: transparent; border: none; margin-right: 3px; cursor: pointer; margin-top: 3px; margin-left: 9px; margin-right: 9px;">
          <img :src="img" :width="width" :height="height">
        </span>
    </button>

    <button v-if="theme == 'property_input'" class="property" style="margin-left: 9px; padding: 16px 0;">
        <span style="color: rgb(250, 250, 250); font-family: Arial; font-weight: bold; margin-left: 8px; margin-right: 6px; width: 90px; font-size: 0.96rem; text-overflow: ellipsis; 
        white-space: nowrap; overflow: hidden;">{{ inputLabel }}</span>
        <span style="display: block; background-color: transparent; border: none; margin-right: 3px; cursor: pointer; margin-top: 3px; margin-right: 9px;">
          <img :src="img" :width="width" :height="height">
        </span>
    </button>

    <button v-if="theme == 'property_slot'" class="property" style="margin-left: 9px; padding: 16px 0;">
        <span style="color: rgb(250, 250, 250); font-family: Arial; font-weight: bold; width: 80px; font-size: 0.96rem;">{{ inputLabel }}</span>
        <span style="display: block; background-color: transparent; border: none; margin-right: 3px; cursor: pointer; margin-top: 3px; margin-right: 9px;">
          <img :src="img" :width="width" :height="height">
        </span>
    </button>

    <button v-if="theme == 'property_label' && format == 'bold'" class="property_button" style="margin-left: 0; font-weight: bolder; font-size: 1.0rem; color: rgb(250, 250, 250);">
        {{ inputLabel }}
    </button>

    <button v-if="theme == 'property_label' && format == 'italic'" class="property_button" style="font-family: serif; font-size: 1.1rem; color: rgb(250, 250, 250); font-weight: bold; 
    font-style: italic;">
        {{ inputLabel }}
    </button>

    <button v-if="theme == 'property_label' && format == 'underline'" class="property_button" style="font-weight: bolder; text-decoration: underline; font-size: 1.0rem; color: rgb(250, 250, 250);">
        {{ inputLabel }}
    </button>

    <button v-if="theme == 'property_font_color'" class="property_button" style="font-weight: bolder; font-size: 1.0rem; color: rgb(250, 250, 250); 
    display: flex; flex-direction: column; justify-content: center; padding-left: 5px;">
        A <span style="display: block; width: 98%; height: 3px; background-color: black;"></span>
    </button>

    <button v-if="theme == 'property_font_background'" class="property_button" style="font-weight: bolder; font-size: 1.0rem; color: rgb(250, 250, 250);">
        <div style="background-color: coral; padding: 1px 5px; padding-top: 2px; text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">A</div>
    </button>
</template>

<style scoped>
.property_button{
  width: 32px;
  height: 32px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(120, 71%, 41%);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.property_button:not(:first-child){
  margin-left: 3px;
}
.property_button:hover{
  background-color: hsla(120, 71%, 41%, 0.6);
}
.property{
  width: max-content;
  height: 26px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(120, 71%, 41%);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 2px;
  position: relative;
}
.property:not(:first-child){
  margin-left: 3px;
}
.property:hover{
  background-color: hsla(120, 71%, 41%, 0.6);
}
.property::after{
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: hsl(120, 71%, 41%);
  left: calc(100% + 4px);
}
</style>