<template>
  <div class="lastDocs">
    <span>Ostatnie dokumenty</span>
    <div class="buttonOp">
      <button><img src="../assets/list_view_icon.svg" alt=""></button>
      <button><img src="../assets/sort_options.svg" alt=""></button>
      <button>Wp</button>
    </div>
  </div>
</template>

<style scoped>
.lastDocs {
  display: grid;
  grid-template-columns: 160px 122px;
  gap: 54vw;
  margin-top: 15px;
  height: 40px;
  width: 69.5vw;
  margin-left: 13vw;
}

.lastDocs > span {
  margin-top: 10px;
  width: 165px;
  text-align: center;
}

.buttonOp {
  width: 122px;
  display: flex;
  flex-direction: row;
}

.buttonOp > button {
  background: transparent;
  border: none;
  outline: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonOp > button:hover {
  background: rgba(48, 47, 47, 0.151);
}
</style>