<script setup>
const {navbarMode} = defineProps(["navbarMode"]);
function documentNameInput(event){

}
</script>
<template>
  <div class="nav" v-if="navbarMode === 'normal'">
    <div class="Logo">Document<span>Office</span></div>
    <SearchBox />
    <div class="Buttons">
      <button class="Buttons_hover"><img width="20" height="20" src="../assets/more_apps_icon_min.svg" alt=""></button>
      <button class="Buttons_hover Buttons_user">U</button>
    </div>
  </div>

  <div class="editor_nav" v-if="navbarMode === 'editor'">
    <div style="display: flex;">
      <div class="icon_main">E</div>
      <div class="name_document-menu">
        <div>
          <input type="text" style="padding-left: 6px; padding-right: 6px; width: 150px; 
          height: 20px; font-size: 1.1rem;" @keydown="$event => documentNameInput($event)" />
        </div>
        <div style="display: flex; margin-top: 5px; height: 20px;">
          <button class="document-menu_button">Plik</button>
          <button class="document-menu_button">Edytuj</button>
          <button class="document-menu_button">Widok</button>
          <button class="document-menu_button">Wstaw</button>
          <button class="document-menu_button">Formatuj</button>
          <button class="document-menu_button">Pomoc</button>
        </div>
      </div>
      <div class="editor_buttons">
        <button class="Buttons_hover"><img width="20" height="20" src="../assets/more_apps_icon_min.svg" alt=""></button>
        <button class="Buttons_hover Buttons_user">U</button>
      </div>
    </div>
    <div style="margin-top: 10px; margin-bottom: 10px; width: 98.5%; height: 25px; padding: 10px 0; display: flex; align-items: center;">
      <Button img="_nuxt/assets/icon_left.svg" width="24" height="24" theme="property" />
      <Button img="_nuxt/assets/icon_right.svg" width="24" height="24" theme="property" />
      <Button img="_nuxt/assets/icon_dropdown.svg" width="11" height="11" theme="property_img" inputLabel="100%" />
      <Button img="_nuxt/assets/icon_dropdown.svg" width="11" height="11" theme="property_input" inputLabel="Zwykły tekst" />
      <Button img="_nuxt/assets/icon_dropdown.svg" width="11" height="11" theme="property_slot" inputLabel="Arial" />
      <div class="property_container font-size">
        <Button img="_nuxt/assets/minus_icon.svg" width="12" height="12" theme="property" />
        <input type="text" value="12" class="font_size-input">
        <Button img="_nuxt/assets/plus_icon.svg" width="12" height="12" theme="property" />
      </div>
      <div class="property_container font-styles">
        <Button theme="property_label" inputLabel="B" format="bold" />
        <Button theme="property_label" inputLabel="I" format="italic" />
        <Button theme="property_label" inputLabel="U" format="underline" />
        <Button theme="property_font_color" />
        <Button theme="property_font_background" />
      </div>
      <div class="property_container font-styles">
        <Button theme="property" img="_nuxt/assets/icon_link.svg" width="32" height="32" />
        <Button theme="property" img="_nuxt/assets/icon_command.svg" width="26" height="26" />
        <Button theme="property" img="_nuxt/assets/icon_picture.svg" width="20" height="20" />
      </div>
      <Button img="_nuxt/assets/icon_alignment.svg" width="20" height="20" theme="property" alignment="ml-low"/>
      <Button img="_nuxt/assets/icon_space_between_lines_and_paragraphs.svg" width="24" height="24" theme="property" />
      <Button img="_nuxt/assets/icon_scored_list.svg" width="24" height="24" theme="property" />
      <Button img="_nuxt/assets/icon_numbered_list.svg" width="24" height="24" theme="property" />
    </div>
  </div>
</template>
<style scoped>
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 49px;
  padding: 10px;
  position: fixed;
  top: 0;
  background-color: rgb(250, 250, 250);
  z-index: 3;
}
.property_container{
  width: max-content;
  height: 26px;
  margin-left: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  padding: 2px;
  position: relative;
}
.property_container::after{
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: hsl(120, 71%, 41%);
  left: calc(100% + 4px);
}
.font_size-button{
  padding: 16px 10px;
  width: 31px;
  height: 28px;
  border: none;
  cursor: pointer;
  background-color: hsl(120, 71%, 41%);
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.font_size-input{
  padding: 3px 0;
  text-align: center;
  font-family: Arial; 
  font-weight: bold;
  margin-left: 2px;
  margin-right: 2px;
  width: 35px;
  height: 24px;
  font-size: 0.96rem;
  border: 1px solid hsl(120, 71%, 41%);
  border-radius: 4px;
  background-color: transparent;
}
.font_size-button:hover{
  background-color: hsla(120, 71%, 41%, 0.6);
}
.editor_nav{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  background-color: rgb(250, 250, 250);
  z-index: 3;
}
.icon_main{
  width: 40px;
  height: 40px;
  background-color: aqua;
  margin-left: 15px;
  margin-top: 5px;
  font-size: 2rem;
  text-align: center;
}
.name_document-menu{
  width: 40%;
  height: 50px;
  display: grid;
  grid-template-rows: 51% 49%;
  margin-left: 4px;
}
.document-menu_button{
  background-color: transparent;
  font-size: 0.93rem;
  line-height: 55%;
  margin-left: 2px;
  border: none;
  padding: 6px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  font-family: sans-serif;
}
.document-menu_button:hover{
  background-color: hsl(360, 7%, 91%);
}
.Logo {
  font-size: 1.7rem;
  font-family: sans-serif;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.6);
}
.Logo > span {
  margin-left: 5px;
  font-weight: 700;
  color: rgba(30, 180, 30, 0.9);
}
.Buttons{
  width: 130px;
  height: 45px;
  margin-right: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.editor_buttons{
  width: 130px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 49%;
}
.Buttons_hover{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  margin-left: 10px;
  border-radius: 100%;
  color: rgb(170, 170, 170);
  background-color: transparent;
}
.Buttons_user{
  font-weight: bold;
  font-size: 1.4rem;
}
.Buttons_hover:hover{
  background-color: rgba(220, 220, 220, 0.9);
}
</style>
  