<template>
    <div class="searchBox">
      <span class="serachBox_icon">
        <!-- 8.467mm -->
        <img width="20" height="20" src="./../assets/search_icon_min_2.svg" alt="">
      </span>
      <input type="text" placeholder="Szukaj" class="szukajka" />
      <button style="display: none;">
        <svg
            width="32"
            height="32"
            viewBox="0 0 32 32"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg">
            <g>
                <rect
                style="display:inline;fill:#ffffff;fill-opacity:0.00401605;stroke:rgba(90, 90, 90, 0.9);stroke-width:1.44402;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                width="25.019579"
                height="0.68348569"
                x="-9.7683306"
                y="-22.372713"
                ry="0"
                transform="matrix(-0.62856953,0.77775339,-0.7968005,-0.60424247,0,0)" />
            </g>
            <g>
                <rect
                style="display:inline;fill:#ffffff;fill-opacity:0.00401605;stroke:rgba(90, 90, 90, 0.9);stroke-width:1.46141;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                width="25.165117"
                height="0.69600016"
                x="9.5633993"
                y="-3.3836136"
                ry="0"
                transform="matrix(0.6093955,0.7928664,-0.73964554,0.67299664,0,0)" />
            </g>
        </svg>
      </button>
    </div>
</template>
<style scoped>
  .searchBox {
    width: 38vw;
    height: 45px;
    border-radius: 10px;
    background: rgba(230, 230, 230, 0.685);
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
/* 227 */
  
  /* offsetWidth - 38 */
  /* offsetHeight - 38 */
  /* #3c3c3c */
  
  .searchBox > .serachBox_icon{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-left: 3px;
    padding: 20px;
    box-sizing: border-box;
  }

  .searchBox > button {
    border-radius: 50px;
    margin-left: 3px;
    width: 32px;
    height: 32px;
    padding: 20px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }
  
  .searchBox > button:not(:first-child) {
    border-radius: 50px;
    margin-right: 3px;
    width: 32px;
    height: 32px;
    padding: 20px;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
  }
  
  .searchBox > button:hover {
    background: rgba(70, 70, 70, 0.1);
    cursor: pointer;
  }
  
  .searchBox > .szukajka {
    font-size: 1rem;
    width: 87%;
    border: none;
    outline: 1px solid transparent;
    background: transparent;
  }
  </style>
  