<template>
  <div class="templateList">
    <slot />
  </div>
</template>

<style scoped>
.templateList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 310px;
  width: 700px;
}
</style>