<script setup>
definePageMeta({
  layout: "dashborad"
})
</script>

<template>
   <div class="dashboardContent">
    <div class="templatesDocs">
      <div class="templatesDocs_tD">
        <span style="font-weight: bold;">utwórz nowy dokument</span>
        <div style="display: flex;">
          <button class="galerry_button">Galeria szablonów</button>
          <button class="optionButton"><img width="32" height="32" src="../assets/option_icon.svg" alt=""></button>
        </div>
      </div>
      <TemplateList>
        <TemplateListItem templatePlaceholder="+" templateLabel="Pusty" />
        <TemplateListItem templatePlaceholder="" templateLabel="Życiorys"/>
        <TemplateListItem templatePlaceholder="" templateLabel="Mięta"/>
        <TemplateListItem templatePlaceholder="" templateLabel="Propozycja projektu"/>
        <TemplateListItem templatePlaceholder="" templateLabel="Broszura"/>
        <TemplateListItem templatePlaceholder="" templateLabel="Raport"/>
      </TemplateList>
    </div>
    <LastDocs />
    <FileList>
      <FileListItem fName="Mały plik" />
      <FileListItem fName="Skorpion" />
      <FileListItem fName="Mały plik" />
      <FileListItem fName="Skorpion" />
      <FileListItem fName="Mały plik" />
      <FileListItem fName="Skorpion" />
      <FileListItem fName="Mały plik" />
      <FileListItem fName="Skorpion" />
    </FileList>
   </div>
</template>

<style scoped>
.dashboardContent {
  position: relative;
  width: 100%;
  height: 100%;
}
.templatesDocs {
  width: 100%;
  height: 280px;
  background: rgba(230, 230, 230, 0.685);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  padding-bottom: 20px;
}
.templatesDocs_tD {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  height: 30px;
  width: 70vw;
}
.templatesDocs_tD > span::first-letter {
  text-transform: uppercase;
}
.templatesDocs_tD > span {
  height: 40px;
  padding: 10px;
  margin-top: 5px;
  margin-right: 180px;
}
.galerry_button {
  width: 200px;
  background: transparent;
  border: none;
  height: 40px;
  padding: 10px;
  margin-top: 4px;
  margin-left: 30px;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif, Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.galerry_button:hover, .optionButton:hover {
  background: rgba(48, 47, 47, 0.26);
}
.galerry_button::after{
  content: "";
  width: 1px;
  height: 35px;
  background: rgba(48, 47, 47, 0.068);
  position: absolute;
  left: 10.4vw;
}
.optionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  background: transparent;
  border: none;
  height: 40px;
  padding: 10px;
  margin-top: 4px;
  margin-left: 6px;
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif, Times, serif;
}
</style>
