<script setup>
import {Editor} from '../features/editor';
definePageMeta({
  layout: "editor"
})
const mouseMoveOnCanvas = ref(false);
function activeMouseListener(){
  document.addEventListener("mousemove", (mouse_event)=>{
    if(mouse_event.target.localName === "canvas"){
      mouseMoveOnCanvas.value = true;
      return;
    }
    mouseMoveOnCanvas.value = false;
  });
}

onMounted(()=>{
  activeMouseListener();
  const e_canvas = document.getElementById("editor_canvas");
  const editor_container_width = document.querySelector(".editor").offsetWidth;
  const editor_container_height = document.querySelector(".editor").offsetHeight;
  e_canvas.width = editor_container_width;
  e_canvas.height = editor_container_height;
  let editor = new Editor(e_canvas, editor_container_width);
  editor.render();
})

// paragraphLeft: 80px
// paragraphTop: 80px


// width="794" height="1123"
</script>

<template>
   <div class="editor">
      <canvas id="editor_canvas"></canvas>
    <!-- <div style="background-color: hsl(0, 0%, 100%); margin-top: 1rem; border: 1px solid hsl(0, 0%, 79%);position: relative;left: 30%; width: 794px; height: 1123px;">
      <div style="margin-left: 5rem; margin-top: 5rem; display: flex; align-items: center; padding: 1px; height: 1.2rem; position: relative;">
      </div>
    </div> -->
   </div>
</template>

<style scoped>

[carette-front]::before{
  content: '';
  width: 2px;
  height: 18px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  right: 100%;
  bottom: 1px;
}

.editor{
  margin-top: 8.5rem;
  width: 100%;
  height: calc(85.4vh - 0.9rem);
  background-color: hsl(0, 0%, 97%);
  padding-bottom: 1rem;
}

.a4_paper{
  background-color: hsl(0, 0%, 100%);
  margin-top: 1rem;
  border: 1px solid hsl(0, 0%, 79%);
  position: absolute;
  left: 30%;
}
</style>
