<template>
    <div class="LoginContent">
        <div class="Logo">Document<span>Office</span></div>
        <p class="z">rozpocznij pracę</p>
        <div class="form">
            <input class="triggerInput" type="text" placeholder=" "/>
            <label class="labelc">Adres E-mail</label>
        </div>
        <div class="form">
            <input class="triggerInput" type="password" placeholder=" " />
            <label class="labelc">Hasło</label>
        </div>
        <div class="bZal">
            <button class="bTwo">utwórz konto</button>
            <button @click="testLogin">zaloguj się</button>
        </div>
        <!-- <button @click="createDocumentFile()">Create Document File</button> -->
    </div>
</template>

<script setup>
async function createDocumentFile(){
    let j = await $fetch("/api/file");
    console.log(j);
}
</script>

<style>
.LoginContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 440px;
    border: 1px solid rgba(140, 140, 140, 0.3);
    margin-top: 20vh;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

.Logo{
    font-size: 2rem;
    font-family: sans-serif;
    margin-top: 40px;
}

.Logo > span{
    margin-left: 5px;
    font-weight: 700;
    color: rgba( 30, 180, 30, 0.9);
}

.z::first-letter,
.bZal > button::first-letter{
    text-transform: uppercase;
}

.z{
    margin-top: 17px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    margin-left: 10px;
    text-align: center;
}

.form{
    position: relative;
    margin-top: 30px;
    margin-bottom: 10px;
    border: 1px solid rgba(140, 140, 140, 0.3);
    width: 70%;
    padding: 20px;
    border-radius: 6px;
}

.triggerInput{
    width: 97%;
    border: none;
    outline: none;
    font-size: 1.2rem;
}

.triggerInput:focus + .labelc, 
.triggerInput:not(:placeholder-shown) + .labelc{
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1rem;
    animation: slideUp 0.3s forwards;
}

.labelc{
    position: absolute;
    left: 10px;
    pointer-events: none;
    background: #fff;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1rem;
    font-family: Arial;
    animation: slideDown 0.3s ease-in;
}

.bZal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 30px;
}

.bZal > button{
    background: rgba( 30, 180, 30, 0.9);
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px;
    font-weight: 600;
}

.bZal > .bTwo{
    background: transparent;
    color: rgba( 30, 180, 30, 0.9);
}

.bZal > .bTwo:hover{
    background: transparent;
    color: rgba(25, 155, 25, 0.9);
}

.bZal > button:not(:first-child){
    margin-left: 160px;
}

.bZal > button:hover{
    background: rgba(25, 155, 25, 0.9);
    cursor: pointer;
}

@keyframes slideUp{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateX(-5px) translateY(-30px) scale(0.8);
    }
}

@keyframes slideDown{
    0%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px) scale(1);
    }
}
</style>